/*Header*/

.header-wrapper {
    height: 80px;
    background-color: black;
    padding: 20px 20px;
}
.header-wrapper h2 {
    color: white;
    font-family: "Orbitron";
}

/*Layout body*/
.layout-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

/*Footer*/
footer {
    text-align: center;
    font-family: "Raleway";
}
footer a{
    color: dodgerblue;
    text-decoration: none;
}
footer p{
    display: inline;
}
